.contact {
    &__content {
      padding: 20px;
  
      &__header-text {
        color: var(--yellow-theme-sub-text-color);
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 0.5px;
        position: relative;
        text-transform: uppercase;
        padding: 5px 10px;
        border-bottom: 2px solid var(--yellow-theme-main-color);
  
        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 2px;
          height: 5px;
          background-color: var(--yellow-theme-main-color);
          bottom: -1px;
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }
      }
  
      &__form {
        width: 100%;
        max-width: 1400px; /* Make the form huge */
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        &__controlswrapper {
          width: 100%;
          max-width: 1200px; /* Inputs section width */
          margin-bottom: 30px;
          
          div {
            position: relative;
  
            .inputTitle,
            .inputName,
            .inputEmail,
            .inputDescription {
              width: 100%;
              max-width: 100%;
              border: 2px solid var(--yellow-theme-main-color);
              padding: 16px 20px;
              transition: all 0.5s ease;
              margin-bottom: 30px;
              background-color: transparent;
              color: var(--yellow-theme-sub-text-color);
              font-size: 1.6rem;
              text-align: left;
              direction: ltr;
            }
  
            .titleLabel,
            .nameLabel,
            .emailLabel,
            .descriptionLabel {
              font-weight: 500;
              position: absolute;
              top: 7px;
              left: 12px;
              transition: all 0.2s ease;
              color: var(--yellow-theme-sub-text-color);
              font-size: 16px;
            }
  
            .inputTitle:focus,
            .inputName:focus,
            .inputEmail:focus,
            .inputDescription:focus {
              outline: none;
            }
  
            .inputTitle:focus + .titleLabel,
            .inputTitle:valid + .titleLabel,
            .inputName:focus + .nameLabel,
            .inputName:valid + .nameLabel,
            .inputEmail:focus + .emailLabel,
            .inputEmail:valid + .emailLabel,
            .inputDescription:focus + .descriptionLabel,
            .inputDescription:valid + .descriptionLabel {
              font-size: 18px;
              top: -25px;
              left: 0px;
            }
          }
        }
      }
  
      button {
        cursor: pointer;
        padding: 10px 70px;
        font-size: 2rem;
        background: transparent;
        color: var(--yellow-theme-main-color);
        border: 1.5px solid var(--yellow-theme-main-color);
        border-radius: 4px;
        font-weight: 500;
        transition: background 0.3s, color 0.3s;
  
        &:hover {
          color: #000;
          background: var(--yellow-theme-main-color);
        }
      }
    }
  }
  
  /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .contact__content__form {
      width: 100%;
      text-align: center;
  
      &__controlswrapper {
        width: 90%;
        margin: 0 auto;
        div {
          .inputTitle,
          .inputName,
          .inputEmail,
          .inputDescription {
            width: 100%;
            max-width: 100%;
            padding: 16px 20px;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 500px) {
    .contact__content__form {
      width: 100%;
      text-align: center;
  
      &__controlswrapper {
        width: 90%;
        margin: 0 auto;
        div {
          .inputTitle,
          .inputName,
          .inputEmail,
          .inputDescription {
            width: 100%;
            max-width: 100%;
            padding: 16px 20px;
          }
        }
      }
    }
  }
  